*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

main {
  flex: 10 auto;
}

footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 300ms ease;
}

.header {
  background-color: #111111;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 2.8rem;
  font-weight: 100;
  color: #f6f6f6;
  text-transform: uppercase;
  margin-left: 1rem;
}

.nav__logo--sm {
  display: none;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__link {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: #f6f6f6;
  padding: 1.5rem;
}

.nav__link:hover {
  background-color: #363636;
  color: #ff9900;
}

.nav__link:active {
  background-color: black;
  color: #cc7a00;
}

.nav__link--dropdown {
  border: none;
  outline: none;
  background-color: #111111;
}

.nav-icon {
  margin: 0 1rem;
}

.nav-icon__link {
  color: #f6f6f6;
  font-size: 1.6rem;
  margin-left: 0.8rem;
}

.nav-icon__link:hover {
  color: #ff9900;
}

.nav-icon__link:active {
  color: #cc7a00;
}

.nav__item--dropdown {
  position: relative;
}

.nav__list--sub {
  position: absolute;
  list-style: none;
  background-color: #111111;
  left: 0;
  display: none;
}

.nav__list .nav__item--dropdown:hover > .nav__link + .nav__list--sub {
  display: block;
}

.arrow {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15rem solid currentColor;
  border-bottom: 0.15rem solid currentColor;
  transform: rotate(-45deg);
  margin-top: -0.25rem;
  transition: 300ms transform ease-in-out;
}

.display-dropdown {
  display: block;
}

.nav__list > .nav__item--dropdown:hover > .nav__link > .arrow {
  transform: rotate(-135deg);
}

#nav-toggle {
  display: none;
}

@media only screen and (max-width: 840px) {
  .nav {
    position: relative;
  }
  .nav__logo {
    order: 1;
  }
  .nav__list {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 3.3rem;
    background-color: #111111;
    display: none;
    width: 100%;
  }
  .nav-icon {
    order: 3;
  }
  .nav__toggle,
  #nav-toggle {
    order: 0;
    margin: 0 1rem;
  }
  .nav__list > .nav__item--dropdown:hover > .nav__link + .nav__list--sub {
    position: relative;
    left: 10%;
  }
  .nav__toggle {
    height: 3rem;
    width: 3rem;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .nav__icon {
    position: relative;
    margin-top: 1.5rem;
  }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #f6f6f6;
    display: inline-block;
    transition: all 200ms;
  }
  .nav__icon::before, .nav__icon::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .nav__icon::before {
    top: -0.8rem;
  }
  .nav__icon::after {
    top: 0.8rem;
  }
  .nav__toggle:hover .nav__icon,
  .nav__toggle:hover .nav__icon::before,
  .nav__toggle:hover .nav__icon::after {
    background-color: #ff9900;
  }
  #nav-toggle:checked + .nav__toggle .nav__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  #nav-toggle:checked + .nav__toggle .nav__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  #nav-toggle:checked + .nav__toggle .nav__icon {
    background-color: transparent;
  }
  #nav-toggle:checked ~ .nav__list {
    position: absolute;
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .nav__logo--sm {
    display: block;
    padding: 0.5rem 0 1.5rem 0;
  }
  .nav__logo--lg {
    display: none;
  }
  .nav {
    padding-bottom: 1.5rem;
  }
}

footer {
  background-color: #111111;
  height: 200px;
}
/*# sourceMappingURL=style.css.map */