*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.banner {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../images/shoemaker-workshop-making-shoes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 71px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 75ch;
  height: calc(100vh - 71px);
}

.cards,
.instagram {
  display: grid;
  max-width: 1300px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}

.instagram__img {
  width: 100%;
  border-radius: 5px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.product {
  display: flex;
  padding: 8rem 0;
  gap: 2rem;
}

.product__img {
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.product-reviews {
  margin: 15px 0;
}

.product-reviews a {
  color: #ffbb00;
}

.product-reviews span {
  color: #111111;
}

.product select {
  margin-bottom: 15px;
}

.product-description {
  max-width: 60ch;
  margin-top: 40px;
}

@media only screen and (max-width: 885px) {
  .instagram {
    grid-template-columns: repeat(2, 1fr);
  }
  .product {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .instagram {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 395px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.header {
  background-color: #111111;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 2.8rem;
  font-weight: 100;
  color: #f6f6f6;
  text-transform: uppercase;
  margin-left: 1rem;
}

.nav__logo--sm {
  display: none;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__link {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: #f6f6f6;
  padding: 1.5rem;
}

.nav__link:hover, .nav__link:focus {
  background-color: #363636;
  color: #ff7300;
}

.nav__link:active {
  background-color: black;
  color: #cc5c00;
}

.nav__link--dropdown {
  border: none;
  outline: none;
  background-color: #111111;
}

.nav__link--active {
  color: #ff7300;
}

.nav-icon {
  margin: 0 1rem;
}

.nav-icon__link {
  color: #f6f6f6;
  font-size: 1.6rem;
  margin-left: 0.8rem;
}

.nav-icon__link:hover, .nav-icon__link:focus {
  color: #ff7300;
}

.nav-icon__link:active {
  color: #cc5c00;
}

.nav__item--dropdown {
  position: relative;
}

.nav__list--sub {
  position: absolute;
  list-style: none;
  background-color: #111111;
  left: 0;
  display: none;
}

.nav__list .nav__item--dropdown:hover > .nav__link + .nav__list--sub {
  display: block;
}

.arrow {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15rem solid currentColor;
  border-bottom: 0.15rem solid currentColor;
  transform: rotate(-45deg);
  margin-top: -0.25rem;
  transition: 300ms transform ease-in-out;
}

.display-dropdown {
  display: block;
}

.nav__list > .nav__item--dropdown:hover > .nav__link > .arrow {
  transform: rotate(-135deg);
}

#nav-toggle {
  display: none;
}

@media only screen and (max-width: 840px) {
  .nav {
    position: relative;
  }
  .nav__logo {
    order: 1;
  }
  .nav__list {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 3.3rem;
    background-color: #111111;
    display: none;
    width: 100%;
  }
  .nav-icon {
    order: 3;
  }
  .nav__toggle,
  #nav-toggle {
    order: 0;
    margin: 0 1rem;
  }
  .nav__list > .nav__item--dropdown:hover > .nav__link + .nav__list--sub {
    position: relative;
    left: 10%;
  }
  .nav__toggle {
    height: 3rem;
    width: 3rem;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .nav__icon {
    position: relative;
    margin-top: 1.5rem;
  }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #f6f6f6;
    display: inline-block;
    transition: all 200ms;
  }
  .nav__icon::before, .nav__icon::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .nav__icon::before {
    top: -0.8rem;
  }
  .nav__icon::after {
    top: 0.8rem;
  }
  .nav__toggle:hover .nav__icon,
  .nav__toggle:hover .nav__icon::before,
  .nav__toggle:hover .nav__icon::after {
    background-color: #ff7300;
  }
  #nav-toggle:checked + .nav__toggle .nav__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  #nav-toggle:checked + .nav__toggle .nav__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  #nav-toggle:checked + .nav__toggle .nav__icon {
    background-color: transparent;
  }
  #nav-toggle:checked ~ .nav__list {
    position: absolute;
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .nav__logo--sm {
    display: block;
    padding: 0.5rem 0 1.5rem 0;
  }
  .nav__logo--lg {
    display: none;
  }
  .nav {
    padding-bottom: 1.5rem;
  }
}

.footer {
  background-color: #111111;
  padding: 0 5%;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav__list {
  list-style: none;
}

.footer-nav__item {
  margin-bottom: 10px;
}

.footer-nav__link {
  color: #f6f6f6;
}

.footer-nav__link:hover, .footer-nav__link:focus {
  color: #ff7300;
}

.footer-nav h4 {
  margin-bottom: 15px;
}

@media only screen and (max-width: 800px) {
  .footer-menu {
    flex-direction: column;
  }
  .footer-nav:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .footer-nav:not(:last-of-type)::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 3rem;
  }
}

.card-interactive {
  position: relative;
  display: flex;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__link {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  bottom: 0;
  left: 0;
  top: calc(100% - 60px);
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #111111;
  color: #f6f6f6;
  transition: 600ms ease;
}

.card__link span {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.3rem;
}

.card__link:hover, .card__link:focus {
  top: 0;
  background: linear-gradient(180deg, rgba(255, 115, 0, 0.7) 0%, #111111 100%);
}

.card .text {
  width: 100%;
  max-width: 52ch;
  margin-top: 15px;
}

.subscribe-form__input {
  height: 45px;
  padding: 0.5rem;
  border: 1px solid #111111;
  border-radius: 5px;
  width: 100%;
  margin: 8px 0;
  outline: none;
  background-color: transparent;
}

.subscribe-form__input::placeholder {
  color: black;
  opacity: 1;
}

.subscribe-form__input:focus {
  border: 1px solid #ff7300;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.form__input, .form__txtarea {
  padding: 15px 5px;
  margin: 5px 0 10px 0;
  font-size: 0.9rem;
  border: 1px solid #111111;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.form__input:focus, .form__txtarea:focus {
  border: 1px solid #ff7300;
}

.form__txtarea {
  height: 200px;
}

#shoe-size,
#maintenance {
  height: 30px;
  width: 50px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 300ms ease;
}

button {
  border: none;
  cursor: pointer;
  transition: 300ms ease;
  outline: none;
}

.btn {
  display: block;
  color: #f6f6f6;
  background-color: #ff7300;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}

.btn:hover, .btn:focus {
  box-shadow: none;
}

.btn:active {
  background-color: #a84c00;
}

.btn__icon {
  font-size: 1.2rem;
  margin-right: 10px;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
}

.faq__accordion {
  width: 100%;
  outline: none;
  background-color: #111111;
  padding: 15px 10px;
  color: #f6f6f6;
  text-align: left;
  font-size: 1em;
  transition: 600ms;
}

.faq__accordion:hover,
.faq__accordion:focus,
.is-open {
  background-color: #a84c00;
}

.faq__accordion::after {
  content: "\f067";
  font-family: "fontawesome";
  float: right;
}

.is-open::after {
  content: "\f068";
}

.faq__content {
  max-height: 0;
  overflow: hidden;
  transition: 600ms;
}

.faq__content .text {
  padding: 5px 10px 30px 10px;
}

.heading--light {
  color: #f6f6f6;
}

.heading--dark {
  color: #111111;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 400;
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 1rem;
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 400;
}

.heading-tertiary--instagram {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  text-align: center;
}

.heading-quaternary {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.sub-heading {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.sub-heading span {
  text-transform: none;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.text--light {
  color: #f6f6f6;
}

.text--dark {
  color: #111111;
}

.copyright {
  text-align: center;
  color: #f6f6f6;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 1rem;
}

@media only screen and (max-width: 800px) {
  .heading-primary {
    font-size: 2.4rem;
  }
}

.u-padding-lg {
  padding: 10rem 0;
}

.u-padding-md {
  padding: 3rem 0;
}

.u-padding-b-lg {
  padding-bottom: 10rem;
}

.u-margin-b-sm {
  margin-bottom: 12px;
}

.u-margin-t-md {
  margin-top: 30px;
}

.u-margin-t-lg {
  margin-top: 6rem;
}

.u-text-center {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */