.u-padding-lg {
  padding: 10rem 0;
}

.u-padding-md {
  padding: 3rem 0;
}

.u-padding-b-lg {
  padding-bottom: 10rem;
}

.u-margin-b-sm {
  margin-bottom: 12px;
}

.u-margin-t-md {
  margin-top: 30px;
}

.u-margin-t-lg {
  margin-top: 6rem;
}

.u-text-center {
  text-align: center;
}
